.playlist-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -2;
}

.playlist-info-page__banner {
  position: relative;
  height: $spacing-10 * 9.5;
  margin-right: 0;
  margin-left: 0;
}

.playlist-info-page__dots {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-size: 16px;
  opacity: 0.35;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16' xml:space='preserve'%3E%3Crect width='16' fill='none' height='16'/%3E%3Crect x='0' y='0' fill='white' width='1' height='1'/%3E%3C/svg%3E");
}

.playlist-info-page__filter {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  background-color: black;
}

.playlist-info-page__body {
  position: relative;
  background-color: black;
  padding-left: $spacing-08;
  padding-top: $spacing-06 * 2;
  padding-bottom: $spacing-09;
  padding-right: 10%;
  margin-right: 0;
}

.playlist-info-page__heading {
  @include carbon--type-style("expressive-paragraph-01");
  @include carbon--font-weight("semibold");
}

.playlist-info-page__p {
  @include carbon--type-style("productive-heading-04");
  @include carbon--font-weight("light");
}

.playlist-tile-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.playlist-tile-spotify {
  position: absolute;
  width: 100%;
  height: 45%;
  bottom: 0;
  min-width: 0;
  min-height: 0;
  max-width: 300px;
  max-height: 160px;
  -webkit-text-fill-color: #f4f4f4;
}

.playlist-tile-spotify:hover {
  text-decoration: none;
}

.playlist-tile-spotify-title {
  @include carbon--type-style("productive-heading-03");
}

.playlist-tile-spotify-subtitle {
  @include carbon--type-style("expressive-heading-01");
  @include carbon--font-weight("light");
}

.playlist-tile-spotify-icon {
  fill: #f4f4f4;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
