

.playlist-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -1;
}

.playlist-info-page__banner {
  position: relative;
  padding-bottom: $spacing-10 * 9.5;
  margin-right: 0;
  margin-left: 0;
}

.playlist-info-page__body {
  position: relative;
  padding-left: $spacing-08;
  padding-top: $spacing-06 * 3;
  padding-bottom: $spacing-09;
  padding-right: 10%;
  margin-right: 0;
}

.playlist-info-page__heading {
  @include carbon--type-style("expressive-paragraph-01");
  @include carbon--font-weight("semibold");
}

.playlist-info-page__p {
  @include carbon--type-style("productive-heading-04");
  @include carbon--font-weight("light");
}
