/*
.bx--side-nav__navigation	{
  background-color: #171717;
  -webkit-text-fill-color: #bebebe;
}

.bx--side-nav__menu-item	{
-webkit-text-fill-color: #bebebe ;
}
*/
@import './components/TutorialHeader/tutorial-header.scss';
@import './content/LandingPage/landing-page.scss';
@import './content/RepoPage/repo-page.scss';