/* Add this to always show the header hamburger menu button
.bx--header__menu-toggle__hidden {
  display: block;
}
 */

//TODO: Hex durch Tokens ersetzten

.bx--side-nav__navigation {
  background-color: #171717;
  -webkit-text-fill-color: #bebebe;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #575757;
}

//SideNav border always solid grey, only on small displays it gets transparent (to enable on hover)
@media (max-width: 66rem) {
  .bx--side-nav--ux {
    border-right-width: 1px;
    border-right-color: transparent;
  }
}

//For no on-hover-expand remove border-right-width 1px in .bx--side-nav__ux and insert it down here
.bx--side-nav:not(.bx--side-nav--fixed):hover,
.bx--side-nav--expanded {
  border-right-color: #575757;
  border-right-width: 1px;
}

.bx--side-nav__menu-item {
  -webkit-text-fill-color: #bebebe;
}

.bx--side-nav__item {
  padding-top: $spacing-03;
}

.bx--side-nav__items {
  padding-bottom: 4rem;
}

.bx--header__menu-item {
  -webkit-text-fill-color: #bebebe;
}

.bx--side-nav__icon > svg {
  fill: #bebebe;
}

.bx--side-nav a.bx--header__menu-item:hover .bx--header__menu-arrow,
.bx--side-nav a.bx--header__menu-item:focus .bx--header__menu-arrow,
.bx--side-nav .bx--header__menu-arrow {
  fill: #bebebe;
}

.bx--side-nav__submenu:hover {
  background-color: #353535;
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover
  > .bx--side-nav__link,
.bx--side-nav__item:not(.bx--side-nav__item--active):hover
  > .bx--side-nav__submenu,
.bx--side-nav__menu[role="menu"]
  a.bx--side-nav__link[role="menuitem"]:not(.bx--side-nav__link--current):not([aria-current="page"]):hover {
  background-color: #353535;
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover
  .bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__submenu:hover,
.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover,
.bx--side-nav__menu[role="menu"]
  a.bx--side-nav__link[role="menuitem"]:not(.bx--side-nav__link--current):not([aria-current="page"]):hover,
.bx--side-nav a.bx--header__menu-item:hover,
.bx--side-nav .bx--header__menu-title[aria-expanded="true"]:hover {
  background-color: #353535;
}

.bx--side-nav
  .bx--header__menu-title[aria-expanded="true"]
  + .bx--header__menu
  a.bx--header__menu-item:hover {
  background-color: #353535;
}

.bx--side-nav__link-text {
  -webkit-text-fill-color: #bebebe;
}

.header-return-overlay--active {
  width: 100%;
  height: 200vh;
  position: absolute;
  z-index: 10;
  margin-left: 255px;
}

.header-return-overlay--inactive {
  width: 0;
  height: 0;
}

/* .header-extend-overlay--active {
  width: 3vw;
  height: 200vh;
  position: absolute;
  z-index: 10;
  margin-top: 105vh;
}

.header-extend-overlay--inactive {
  width: 0;
  height: 0;
} */

.side-nav__divider {
  display: block;
  margin: 2rem 1rem 0;
  border-style: solid;
  border-bottom: none;
  border-color: #393939;
}

.header-icon__external {
  fill: #f4f4f4;
  width: 12px;
  padding: 2px;
}
