.overview-page-main-container {
  @media (min-width: 116rem) {
    padding-top: 1rem;
  }
}

.overview-page-datatable-pagination {
  min-width: 31.25rem;
}

.bx--overflow-menu-options:focus {
  outline-width: 0px;
}

.playlist-table-legend {
  padding-bottom: 5px;
  padding-top: 2px;
}
